.banner {
    background-color: bisque;
    text-align: center;
    font-size: medium;
    font-family: versailles;
}

#logo {
    height: 400px;
    width: 400px;
}

h2 {
    color: #975b15;
}

h3 {
    color: #573206;
}

.menu {
    padding: 20px;
}